<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Home Internet</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/tariffs.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/utilBack.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/mainBack.css}">

    <!--    =====    NECESSARY BLOCK STARTS ! ====//-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Light, Basic Header</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/header-login-signup.css}">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <!--    =====    NECESSARY BLOCK ENDS ! ====//-->
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

<header class="header-login-signup">
    <th:block th:include="fragments/header :: header"></th:block>
</header>
<div class="limiter">
    <div class="container-login100">
        <div id="pricing-table" class="clear">
            <div th:if="${not #lists.isEmpty(homeInternetInfo)}">
                <tr th:each="homeInternet : ${homeInternetInfo}">
                    <div class="plan">
                        <h3 th:text="${homeInternet.name}"></h3>
                        <div class="plan-body">
                            <div class="plan-body_header">
                                <h5><span th:text="${homeInternet.price} + ' UAH'"></span></h5>
                                <div th:if="${not #lists.isEmpty(homeInternet.userHomeInternet)}">
                                    <div th:if="${homeInternet.userHomeInternet[0].isActive == 0}">
                                        <div th:text="'Will be activate ' + ${homeInternet.userHomeInternet[0].appointment}">Activated</div>
                                    </div>
                                </div>
                                <div th:if="${not #lists.isEmpty(homeInternet.userHomeInternet)}">
                                    <div th:if="${homeInternet.userHomeInternet[0].isActive == 1}">
                                        <div>Activated</div>
                                    </div>
                                </div>
                                <div th:if="${ #lists.isEmpty(homeInternet.userHomeInternet)}">
                                    <a class="signup"
                                       th:href="${'/user/appointment-home-internet/' + homeInternet.homeInternetId}">Get
                                        started</a>
                                </div>
                            </div>
                            <ul>
                                <div th:if="${homeInternet.internetUnlimited == 1}">
                                    <li th:text="${homeInternet.internet} + ' (Unlimited)'"></li>
                                </div>
                                <div th:if="${homeInternet.internetUnlimited != 1}">
                                    <li th:text="${homeInternet.internet}"></li>
                                </div>
                                <li><a th:href="${'/user/home-internet/' + homeInternet.homeInternetId}">View</a></li>
                            </ul>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</div>
</body>
</html>