<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Tariff Details</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/user-header.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/utilBack.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/mainBack.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/details.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/table.css">

    <!--    =====    NECESSARY BLOCK STARTS ! ====//-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Light, Basic Header</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/demo.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/header-login-signup.css">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <!--    =====    NECESSARY BLOCK ENDS ! ====//-->

</head>
<body>

<header class="header-login-signup">
    <th:block th:include="fragments/header :: header"></th:block>
</header>
<div class="container">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <li><a class="header-item" href="#" th:href="@{/user/order-history}">History</a></li>
                    <li><a class="header-item" href="#" th:href="@{/user/replenish-balance}">Top up Balance</a></li>
                    <li><a class="header-item" href="#" th:href="@{/user/complete-appointment}">Complete Appointment</a>
                    </li>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-details">
        <div class="container-block">
            <h2>Order history</h2>

            <div th:if="${not #lists.isEmpty(orderHistory)}">
                <div class="container-content">
                    <div class="container-body">
                        <table class="table table-striped">
                            <tr>
                                <th></th>
                                <th>Operation</th>
                                <th>Date</th>
                            </tr>
                            <tr th:each="order, state : ${orderHistory}">
                                <td th:text="${state.index+1}">Name</td>
                                <td th:text="${order.name}">operation</td>
                                <td th:text="${order.dateTime}">date</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>