<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Tariff Details</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Order history</h2>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/user/user-info}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/user/order-history}">History</a></li>
                        <li><a href="#" th:href="@{/user/replenish-balance}">Replenish Balance</a></li>
                        <li><a href="#" th:href="@{/user/complete-appointment}">Complete Appointment</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div th:if="${not #lists.isEmpty(orderHistory)}">

        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Operation</th>
                <th>Date</th>
            </tr>
            <tr th:each="order, state : ${orderHistory}">
                <td th:text="${state.index+1}">Name</td>
                <td th:text="${order.name}">operation</td>
                <td th:text="${order.dateTime}">date</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>