<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Top up Balance</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/details.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/utilBack.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/mainBack.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/user-header.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/balance.css">

    <!--    =====    NECESSARY BLOCK STARTS ! ====//-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Light, Basic Header</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/demo.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/header-login-signup.css">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <!--    =====    NECESSARY BLOCK ENDS ! ====//-->

</head>
<body>

<header class="header-login-signup">
    <th:block th:include="fragments/header :: header"></th:block>
</header>
<div class="container">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <li><a class="header-item" href="#" th:href="@{/user/order-history}">History</a></li>
                    <li><a class="header-item" href="#" th:href="@{/user/replenish-balance}">Top Up Balance</a></li>
                    <li><a class="header-item" href="#" th:href="@{/user/complete-appointment}">Complete Appointment</a>
                    </li>
                </div>
            </div>
        </nav>
    </div>

    <div class="balance">
        <div class="container-details">
            <div class="container-block _balance">
                <h2>Balance
                    <a class="btn btn-lg btn-success pull-right"
                       th:href="${'/user/user-info'}">Back</a>
                </h2>
                <div class="container-content">
                    <div class="container-body">
                        <form th:action="@{/user/payload}" th:object="${payload}" method="post">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Your current balance:</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" th:text="${userEdit.balance}">Balance</p></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Please, input amount:</label>
                                    <div class="col-sm-10">
                                        <p><input class="balance-input" type="text" th:field="*{sum}"/></p>
                                    </div>
                                </div>
                                <div class="balance-button-row">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <p class="form-control-static">
                                                <button type="submit" class="balance-button">Submit</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>