<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Calls Add On</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Calls Add On Details
        <a class="btn btn-lg btn-success pull-right"
           th:href="${'/user/services'}">Back</a></h2>
    <h4 class="text-warning text-center" th:utext="${message}"></h4>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${serviceCalls.name}">Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${serviceCalls.description}">Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">What you get:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${serviceCalls.callsMinAbroad}">Calls abroad</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${serviceCalls.price}">Price</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Activation cost:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${serviceCalls.activationCost}">Activation cost</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Validity:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${serviceCalls.validity}">Validity</p>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(serviceCalls.userServiceCalls)}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <a class="btn btn-lg btn-warning"
                               th:href="${'/user/deactivate-service-calls/' + serviceCalls.serviceId}">Disconnect</a>
                        </p>
                    </div>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(serviceCalls.userServiceCalls)}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Activate:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            <a class="btn btn-lg btn-success"
                               th:href="${'/user/activate-service-calls/' + serviceCalls.serviceId}">Activate</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>