<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Tariffs</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/tariffs.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/utilBack.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/mainBack.css}">

    <!--    =====    NECESSARY BLOCK STARTS ! ====//-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Light, Basic Header</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/header-login-signup.css}">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <!--    =====    NECESSARY BLOCK ENDS ! ====//-->

</head>
<body>

<header class="header-login-signup">
    <th:block th:include="fragments/header :: header"></th:block>
</header>
<div class="limiter">
    <div class="container-login100">
        <!--        <div class="wrap-login100">-->
        <div id="pricing-table" class="clear">
            <div th:if="${not #lists.isEmpty(tariffs)}">
                <tr th:each="tariff : ${tariffs}">
                    <div class="plan">
                        <h3 th:text="${tariff.name}"></h3>
                        <div class="plan-body">
                            <div class="plan-body_header">
                                <h5><span th:text="${tariff.price} + ' UAH'"></span></h5>
                                <div class="plan-status" th:if="${not #lists.isEmpty(tariff.userTariff)}">
                                    <div>Activated</div>
                                </div>
                                <div th:if="${#lists.isEmpty(tariff.userTariff)}">
                                    <a class="signup" th:href="${'/user/activateTariff/' + tariff.tariffId}">Get
                                        started</a>
                                </div>
                            </div>
                            <ul>
                                <li th:text="${tariff.name}"></li>
                                <li th:text=" ${tariff.internet}"></li>
                                <li th:text="${tariff.sms} + ' SMS'"><b>20</b> Email Accounts</li>
                                <li th:text="${tariff.callsMin}"></li>
                                <li><a th:href="${'/user/tariffs/' + tariff.tariffId}">View</a></li>
                            </ul>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
        <!--        </div>-->
    </div>
</div>
</body>