<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" th:href="@{images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <!--    ===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--    ===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/animate/animate.css}">
    <!--    ===============================================================================================-->
    <!--    ===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{vendor/perfect-scrollbar/perfect-scrollbar.css}">
    <!--    ===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/user-header.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/utilBack.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/mainBack.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/table.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/user-info.css">


    <!--    =====    NECESSARY BLOCK STARTS ! ====//-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Light, Basic Header</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/demo.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/user/css/header-login-signup.css">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

    <!--    ===============================================================================================-->
</head>
<body>
<header class="header-login-signup">
    <th:block th:include="fragments/header :: header"></th:block>
</header>
<div>
    <form class="form-horizontal">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <li><a class="header-item" href="#" th:href="@{/user/order-history}">History</a></li>
                        <li><a class="header-item" href="#" th:href="@{/user/replenish-balance}">Top Up Balance</a>
                        </li>
                        <li><a class="header-item" href="#" th:href="@{/user/complete-appointment}">Complete
                            Appointment</a>
                        </li>
                    </div>
                </div>
            </nav>
        </div>
        <div class="limiter">
            <div class="user-info">
                <div class="user-info-block">
                    <div class="user-info-item">
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                <h3 class="header-table-name"> User Info</h3>
                                <tr class="row100 body">
                                    <td class="cell100 column1">First Name</td>
                                    <td class="cell100 column2" th:text="${userInfo.firstname}"></td>
                                </tr>

                                <tr class="row100 body">
                                    <td class="cell100 column1">Last Name</td>
                                    <td class="cell100 column2" th:text="${userInfo.email}"></td>
                                </tr>

                                <tr class="row100 body">
                                    <td class="cell100 column1">Phone</td>
                                    <td class="cell100 column2" th:text="${userInfo.phone}"></td>
                                </tr>

                                <tr class="row100 body">
                                    <td class="cell100 column1">Balance</td>
                                    <td class="cell100 column2" th:text="${userInfo.balance} + ' UAH'"></td>
                                </tr>

                                <tr class="row100 body">
                                    <td class="cell100 column1">Bonuses</td>
                                    <td class="cell100 column2" th:text="${userInfo.loyalty}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="user-info-item">
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                <h3 class="header-table-name"> Tariff Info</h3>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Tariff Name</td>
                                    <td class="cell100 column2" th:text="${tariffInfo.name}"></td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Tariff Description</td>
                                    <td class="cell100 column2" th:text="${tariffInfo.description}"></td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Tariff Price</td>
                                    <td class="cell100 column2" th:text="${tariffInfo.price}"></td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">SMS</td>
                                    <td class="cell100 column2" th:text="${tariffInfo.sms}"></td>
                                </tr>
                                <div th:if="${tariffInfo.internetUnlimited == 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Internet Data</td>
                                        <td class="cell100 column2" th:text="Unlimited"></td>
                                    </tr>
                                </div>
                                <div th:if="${tariffInfo.internetUnlimited != 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Internet Data</td>
                                        <td class="cell100 column2" th:text="${tariffInfo.internet}"></td>
                                    </tr>
                                </div>
                                <div th:if="${tariffInfo.callsMinUnlimited == 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Calls mins</td>
                                        <td class="cell100 column2" th:text="Unlimited"></td>
                                    </tr>
                                </div>
                                <div th:if="${tariffInfo.callsMinUnlimited != 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Calls mins</td>
                                        <td class="cell100 column2" th:text="${tariffInfo.callsMin}"></td>
                                    </tr>
                                </div>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Calls abroad mins</td>
                                    <td class="cell100 column2" th:text="${tariffInfo.callsMinAbroad}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="user-info-item">
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                <h3 class="header-table-name"> Home Internet Info</h3>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Home Internet Name</td>
                                    <td class="cell100 column2" th:text="${homeInternetInfo.name}">Boxing</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Description</td>
                                    <td class="cell100 column2" th:text="${homeInternetInfo.description}">Boxing</td>
                                </tr>
                                <tr class="row100 body">
                                    <td class="cell100 column1">Price</td>
                                    <td class="cell100 column2" th:text="${homeInternetInfo.price}">Boxing</td>
                                </tr>
                                <div th:if="${homeInternetInfo.internetUnlimited == 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Internet Data</td>
                                        <td class="cell100 column2"
                                            th:text="${homeInternetInfo.internet} + ' (Unlimited)'"></td>
                                    </tr>
                                </div>
                                <div th:if="${homeInternetInfo.internetUnlimited != 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Internet Data</td>
                                        <td class="cell100 column2" th:text="${homeInternetInfo.internet}"></td>
                                    </tr>
                                </div>
                                <div th:if="${homeInternetUserInfo.isActive == 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Status</td>
                                        <td class="cell100 column2"
                                            th:text="'Active'"></td>
                                    </tr>
                                </div>
                                <div th:if="${homeInternetUserInfo.isActive != 1}">
                                    <tr class="row100 body">
                                        <td class="cell100 column1">Status</td>
                                        <td class="cell100 column2"
                                            th:text="'Will be active '+ ${homeInternetUserInfo.appointment}"></td>
                                    </tr>
                                </div>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="user-info-block">
                    <div th:if="${not #lists.isEmpty(serviceInternets)}">
                        <div class="user-info-table">
                            <div class="table100-body js-pscroll">
                                <table>
                                    <tbody>
                                    <h3> Internet Adds On Info</h3>
                                    <tr class="header-row">
                                        <th class="table-header">Name</th>
                                        <th class="table-header">Description</th>
                                        <th class="table-header">Price</th>
                                        <th class="table-header">Duration</th>
                                        <th class="table-header">Activation Cost</th>
                                        <th class="table-header">Internet Data</th>
                                        <th class="table-header">Sharing Support</th>
                                    </tr>
                                    <tr class="table-body" th:each="inter : ${serviceInternets}">
                                        <div th:if="${not #lists.isEmpty(inter.userServiceInternets)}">
                                            <td th:text="${inter.name}">operation</td>
                                            <td th:text="${inter.description}">date</td>
                                            <td th:text="${inter.price}">date</td>
                                            <td th:text="${inter.validity}">date</td>
                                            <td th:text="${inter.activationCost}">date</td>
                                            <td th:text="${inter.internet}">date</td>
                                            <div th:if="${inter.internetSharing == 1}">
                                                <td th:text="${'Support'}">date</td>
                                            </div>
                                            <div th:if="${inter.internetSharing != 1}">
                                                <td th:text="${'Not Support'}">date</td>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-info-block">
                    <div th:if="${not #lists.isEmpty(serviceCalls)}">
                        <div class="user-info-table">
                            <div class="table100-body js-pscroll">
                                <table>
                                    <tbody>
                                    <h3> Calls Adds On Info</h3>
                                    <tr class="header-row">
                                        <th class="service-header">Name</th>
                                        <th class="service-header">Description</th>
                                        <th class="service-header">Price</th>
                                        <th class="service-header">Duration</th>
                                        <th class="service-header">Activation Cost</th>
                                        <th class="service-header">International Calls</th>
                                    </tr>
                                    <tr class="table-body" th:each="calls : ${serviceCalls}">
                                        <div th:if="${not #lists.isEmpty(calls.userServiceCalls)}">
                                            <td th:text="${calls.name}">operation</td>
                                            <td th:text="${calls.description}">date</td>
                                            <td th:text="${calls.price}">date</td>
                                            <td th:text="${calls.validity}">date</td>
                                            <td th:text="${calls.activationCost}">date</td>
                                            <td th:text="${calls.callsMinAbroad}">date</td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-info-block">
                    <div th:if="${not #lists.isEmpty(serviceRoamings)}">
                        <div class="user-info-table">
                            <div class="table100-body js-pscroll">
                                <table>
                                    <tbody>
                                    <h3> Roaming Adds On Info</h3>
                                    <tr class="header-row">
                                        <th class="service-header">Name</th>
                                        <th class="service-header">International Call Income</th>
                                        <th class="service-header">International Call Outcome</th>
<!--                                        <th class="service-header">Description</th>-->
                                        <th class="service-header">Price</th>
                                        <th class="service-header">Duration</th>
<!--                                        <th class="service-header">Activation Cost</th>-->
                                        <th class="service-header">Internet Data</th>
<!--                                        <th class="service-header">SMS</th>-->

                                    </tr>
                                    <tr class="table-body" th:each="roaming : ${serviceRoamings}">
                                        <div th:if="${not #lists.isEmpty(roaming.userServiceRoamings)}">
                                            <td th:text="${roaming.name}">operation</td>
                                            <td th:text="${roaming.callsMinAbroadIn}">date</td>
                                            <td th:text="${roaming.callsMinAbroadOut}">date</td>
<!--                                            <td th:text="${roaming.description}">date</td>-->
                                            <td th:text="${roaming.price}">date</td>
                                            <td th:text="${roaming.validity}">date</td>
<!--                                            <td th:text="${roaming.activationCost}">date</td>-->
                                            <td th:text="${roaming.internet}">date</td>
<!--                                            <td th:text="${roaming.sms}">date</td>-->

                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-info-block">
                    <div th:if="${not #lists.isEmpty(loyaltiesInfo)}">
                        <div class="user-info-table">
                            <div class="table100-body js-pscroll">
                                <table>
                                    <tbody>
                                    <h3> Bonuses Info</h3>
                                    <tr class="header-row">
                                        <th class="service-header">Name</th>
                                        <th class="service-header">Description</th>
                                        <th class="service-header">Activation Code</th>
                                        <th class="service-header">Due Date</th>
                                        <th class="service-header">Status</th>
                                    </tr>
                                    <tr class="table-body" th:each="loyalty : ${loyaltiesInfo}">
                                        <div th:if="${loyalty.status == 1}">
                                            <td th:text="${loyalty.name}">operation</td>
                                            <td th:text="${loyalty.description}">date</td>
                                            <td th:text="${loyalty.activationCode}">date</td>
                                            <td th:text="${loyalty.dueDate}">date</td>
                                            <td th:text="${'Active'}">date</td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>

