<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JTelecom</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/header-login-signup.css}">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>

<body>

<header class="header-login-signup">

    <div class="header-limiter">

        <nav>
            <a href="#" th:href="@{/user/user-info}">Home</a>
            <a href="#" th:href="@{/user/tariffs}">Tariffs</a>
            <a href="#" th:href="@{/user/services}">Adds On</a>
            <a href="#" th:href="@{/user/home-internet}">Home Internet</a>
            <a href="#" th:href="@{/user/loyalty}">Loyalty</a>
        </nav>

        <form th:action="@{/logout}" method="get">
            <a class="sign-button">
                <button type="Submit">
                </button>Log out</a>
        </form>
    </div>

</header>
<!--<div class="jumbotron">-->
<!--    <img src="../../static/images/back.png" th:src="@{/images/back.png}"/>-->
<!--</div>-->

</body>
</html>
